html {
  font-size: 14px; /* Temel yazı boyutu */
}

@media (min-width: 768px) {
  html {
    font-size: 16px; /* Daha büyük ekranlar için yazı boyutu */
  }
}

body {
  margin-bottom: 60px; /* Alt boşluk */
}